
.team-heading {
    background-color: #05668D;
    color: white;
}

.card-header {
    color: white;
    background-image: url(https://studentlife.ucr.edu/sites/g/files/rcwecm1556/files/slife_article_scottylogo_390x200.png);
}

.card-body {
    background-color: #e6e6e6;
}

li.list-group-item {
    background-color: #ffffff;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}
 
.employee-card {
    width: 18rem;
}